* {
  padding: 0;
  margin: 0;
}
main {
  width: 100%;
}
html {
  font-size: 16px;
  font-family: "Konkhmer Sleokchher", system-ui;
}
header {
  width: 100%;
  display: flex;
  justify-content: center;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 900px;
  background-color: none;
  position: absolute;
  z-index: 10;
  margin-top: 20px;
}
nav li {
  list-style: none;
}
nav a {
  text-decoration: none;
  text-decoration: none;
  color: #2c74b3;
  font-size: 1.5rem;
  font-weight: 400;
  transition: 200ms;
}
nav a.active {
  color: #fff;
}
nav a:hover {
  color: #fff;
  transition: 200ms;
}
.desktop_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#hamburger_icon {
  background-image: url('menu.png');
  background-size: cover;
  background-position: center;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1001;
  cursor: pointer;
  display: none; /* only visible on small screens */
}

/* =============== MOBILE MENU =============== */
#mobile_menu {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  width: 70%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: right 0.3s ease;
  z-index: 1000;
  border-radius: 25px;
  opacity: .8;

}

#mobile_menu.active {
  right: 0;
}

#mobile_menu li {
  list-style: none;
  margin: 1.5rem 0;
}

#mobile_menu a {
  text-decoration: none;
  color: #2c74b3;
  font-size: 1.5rem;
}

/*  */
#sec1 {
  width: 100%;
  height: 100vh;
  position: relative;
}
#sec1 .bg {
  width: 100%;
  height: 100vh;
  background-image: url(rohit-tandon-9wg5jCEPBsw-unsplash.webp);
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: -1;
  background-attachment: fixed;
}
#sec1 h1 {
  color: #fff;
  font-size: 14rem;
  text-align: center;
  padding-top: 120px;
}

#sec1 .articleWrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 3rem;
  width: 100%;
}
#sec1 article {
  display: flex;
  max-width: 900px;
  justify-content: center;
  color: #fff;
  gap: 2rem;
}
#sec1 button {
  min-width: 300px;
  height: 91px;
  border-radius: 100px;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition-duration: 200ms;
}
#sec1 button:hover {
  opacity: 0.85;
}
#sec1 article p {
  font-family: "Ibarra Real Nova", serif;
}
/* +========================+SECTION 2 I don't know how, but it works======================== */
#sec2 {
  padding: 10rem 3rem;
}
#sec2 > article {
  margin: 0 3rem 3rem 3rem;
}

.cards {
  display: flex;
  gap: 4rem;
  justify-content: space-around;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #fff;
  border-radius: 1.5rem;
  max-width: 25rem;
  height: 37.5rem;
  transition: 200ms;
  align-items: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}
.cardbg1 {
  position: relative;
  width: 25rem;
  height: 37.5rem;
  background-image: url(gio-chanturia-2aGoA1zcWfI-unsplash.webp);
  background-position: center;
  background-size: cover;
  filter: blur(0.07rem);
  border-radius: 1.5rem;
  transition: filter 0.5s ease, transform 0.7s ease;
}
.card:hover .cardbg {
  filter: brightness(0.8);
  transform: scale(1.03);
  transition: 400ms;
}
.card:hover .card_disc * {
  opacity: 1;
  transform: scale(1.03);
  transition: 400ms;
}
.card:hover .card_title {
  opacity: 0;
  transform: scale(1.03);
}
.card_disc {
  position: absolute;
  display: flex;
  flex-direction: column;
  max-width: 23rem;
  text-align: center;
  gap: 3rem;
  margin-top: 5rem;
  transition: transform 0.7s ease;
}
.card_disc * {
  transition: 400ms;
  opacity: 0;
}
.card_disc .card_title {
  transition: 400ms;
  opacity: 1;
}
.card_title {
  transition: 400ms;
  font-size: 2rem;
  opacity: 1;
}
.card_disc h3 {
  transition: 400ms;
  font-size: 2rem;
}
.card_disc p {
  transition: 400ms;
  font-size: 1rem;
}
.cardbg2 {
  position: relative;
  width: 25rem;
  height: 37.5rem;
  background-image: url(vruyr-martirosyan-vwcxco7o564-unsplash.webp);
  background-position: center;
  background-size: cover;
  filter: blur(0.07rem);
  border-radius: 1.5rem;
  transition: filter 0.5s ease, transform 0.7s ease;
}
.cardbg3 {
  position: relative;
  width: 25rem;
  height: 37.5rem;
  background-image: url(alexandr-bormotin-c4UC6ulTbu8-unsplash.webp);
  background-position: center;
  background-size: cover;
  filter: blur(0.07rem);
  border-radius: 1.5rem;
  transition: filter 0.5s ease, transform 0.7s ease;
}
/* SECTION 3  */

#sec3 {
  background: #23334c;
  color: #fff;
}
.team {
  background-image: url(24-April-1984-Steve-Jobs--016\ 1.webp);
  background-position: center;
  background-size: cover;
  /* width: 50%;
  height: 60vh; */
  width: 50%;
  height: 40rem;
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 5rem 0 3rem 0;
}
#sec3 > p {
  margin: 0 auto;
  width: 70%;
  text-align: center;
  padding: 2rem;
}
.icon {
  width: 2rem;
  fill: #fff;
}
.reasons {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.reason p {
  font-weight: 100;
  font-style: italic;
}
.reason {
  display: flex;
  gap: 1rem;
}
.sec3_title {
  font-size: 2rem;
  margin-bottom: 3rem;
}

/* SECTION 4 THE GALLERY */

.gallery {
  display: grid;

  gap: 15px;
  justify-content: center;
  padding: 20px;
}

/* ABOUT.html */
#about {
  padding-bottom: 2rem;
}
.aboutbg {
  background-image: url(gallery/about.webp);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 46rem;
  background-attachment: fixed;
}
#about h1 {
  position: absolute;
  color: #fff;
  font-size: 8rem;
  text-align: center;
  top: 18rem;
  left: 0;
  right: 0;
}
.about_title {
  width: 38rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 4rem;
}
.about_title h2 {
  font-size: 1.6rem;
}

.about_text {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 3rem;
}
.dream {
  width: 24rem;
}
.mission {
  width: 26rem;
}
.aboutpic {
  background-image: url(gallery/aboutpic.webp);
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  width: 70%;
  height: 60vh;
  border-radius: 25px;
  margin-top: 2rem;
}

/* =================Partners page ============== */
.partnersbg {
  background-image: url(gallery/partner.webp);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 46rem;
  background-attachment: fixed;
}
#partners h1 {
  position: absolute;
  color: #fff;
  font-size: 8rem;
  text-align: center;
  top: 18rem;
  left: 0;
  right: 0;
}
.partners_title {
  width: 40rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 4rem;
}
.partners_title h2 {
  font-size: 2rem;
}

.iconsec {
  display: flex;
  justify-content: space-around;
  margin: 10rem 0 10rem 0;
}
.icon_space {
  width: 25rem;
  text-align: center;
}

.gitt {
  text-align: center;
  margin: 0 auto;
  width: 60rem;
}

/* =========+Support page ====== */

#support .bg {
  background-image: url(gallery/Lion.webp);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 46rem;
}
#support h1 {
  position: absolute;
  color: #fff;
  font-size: 8rem;
  text-align: center;
  top: 18rem;
  left: 0;
  right: 0;
}
.support_text {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 3rem;
  margin-top: 3rem;
}

@media (max-width: 1200px) {
  .cards {
    flex-wrap: wrap;
  }
  #sec1 > h1 {
    font-size: 5rem;
  }
  html {
    font-size: 13px;
  }
  .gitt {
    width: fit-content;
  }
}
@media (max-width: 840px) {
  nav {
    flex-direction: column;
    width: fit-content;
  }
  .gitt {
    width: fit-content;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 10px;
  }
  nav {
    display: none; /* скрываем старое меню */
  }
  .desktop_nav {
    display: none; /* hide normal nav */
  }

  #hamburger_icon {
    display: block;
  }
    #hamburger_icon {
    display: block; /* show hamburger icon */
  }


  #hamburger_menu {
    display: flex;
  }
  .cards {
    flex-direction: column;
    align-items: center;
  }
  .bg {
    width: 100%;
    height: fit-content;
  }
  nav {
    flex-direction: column;
    width: fit-content;
  }
  #sec1 article {
    flex-direction: column;
  }
  #sec1 article button {
    width: 100%;
  }
  #sec3 .wrapper {
    flex-direction: column;
    align-items: center;
  }
  #sec3 > p {
    width: fit-content;
    margin: 0;
    width: 80%;
  }
  .team {
    width: 100%;
    height: 25vh;
  }
  .about_text {
    flex-direction: column;
    padding: 0.5rem;
  }
  .about_title {
    flex-direction: column;
    flex-wrap: wrap;
    width: fit-content;
    padding: 0.5rem;
  }
  .reasons {
    flex-direction: column;
  }
  .iconsec {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .gitt {
    width: fit-content;
  }
  .partners_title {
    width: fit-content;
  }

}